{% extends "base.html" %}
{% block start %}

<style>
    table, th, td, thead, tbody {
        border:  1px solid black;
    }
</style>

    <h1>Hey I am Django server</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, corporis deserunt id fuga ratione eius facere aut
        blanditiis soluta, it dolores maiores, voluptas sunt dolore. Facilis. </p>

        <br>

<div class="container mt-5">
    <table class="table table-hover shadow-lg">
        <thead class="thead-inverse">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Can vote</th>
            </tr>
        </thead>
        <tbody>
            {% for people in peoples %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{people.Name}} </td>
                <td>{{people.Age}} </td>
                <td>
                    {% if people.Age >= 18 %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
    <!-- {% for i in veg %}
    <li></li>
    {% endfor %} -->
   
    <!-- {{veg}} -->

{% endblock %}