{% extends "base.html" %}
{% block start %}

<style>
    table, th, td {
        border:  1px solid black;
    }
</style>

    <h1>Hey I am Django server</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, corporis deserunt id fuga ratione eius facere aut
        blanditiis soluta, it dolores maiores, voluptas sunt dolore. Facilis. </p>

        <br><br><br><br><br>


    <table class="table col-6 mx-auto p-3  shadow-lg">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Can vote</th>
            </tr>
        </thead>
        <tbody>
            {% for people in peoples %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{people.Name}} </td>
                <td>{{people.Age}} </td>
                <td>
                    {% if people.Age >= 18 %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <!-- {% for i in veg %}
    <li></li>
    {% endfor %} -->
    {% if 'Saag' in veg %}
    availabe
    {% else %}
    no
    {% endif %}

    <!-- {{veg}} -->

{% endblock %}